@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 245, 245, 245;
  /* slightly darker hue of off-white */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 50, 50, 50;
    /* medium gray with a subtle hint of blue-green */
    --background-end-rgb: 50, 50, 50;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.carousel-container {
  height: auto;
}

.carousel-img-container {
  height: 100%;
  /* Adjust this as needed */
  width: 100%;
  /* Adjust this as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* This ensures images don't get distorted */
}